/* Home page */

.promo {
    background-color: var(--headings-color);
    color: var(--background-color);
    min-height: 40px;
    text-align: center;
    font-weight: bold;
}

.promo p {
    margin: 0;
    padding-top: 10px;
}

.main-home {
    max-height: 470px;
}

.welcome-phrase {
    background-color: rgb(10, 54, 65, 0.4);
}

.welcome h1 {
    color: var(--background-color);
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 0;
    padding: 30px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}   

.welcome h2 {
    padding-bottom: 30px;
    font-size: 1.7em;
    font-family: var(--text-paragraph), arial, sans-serif;
    margin: 0px;
}