.main-jacket {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
    margin-bottom: -25px;
}

.red_jacket {
    margin: auto;
}

.jacket-info h2 {
    text-align: center;
}

.size {
    justify-content: center;
    display:flex;
}

.size p {
    display: inline-block;
    border: var(--color-footer) solid 1px;
    background-color: var(--color-footer);
    color: var(--background-color);
}

.size p:hover {
    background-color: var(--background-color);
    color: var(--color-footer);
}

.buy-jacket {
    text-align: center;
    margin-top: 50px;
}
