@font-face {
    font-family: "libre bodoni";
    font-family: "merriweather";
    src: url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&family=Merriweather:ital@0;1&display=swap');
}

header, 
footer {
    width: 100%;
    position: sticky;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #0a3641;
    padding: 10px 15px;
    top: 0;
    background-color: #ffff;
}

header nav {
    position: absolute;
    background-color: #ffff;
}

header nav a {
    color: #5f4c3e;
}

header nav,
#menu-checkbox {
    display: none;
}

header li {
    border: #0a3641 1px solid;
    padding: 15px 30px;
}

nav ul {
    padding: 0;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header input {
    background-color: #ffff;
    border-radius: 10px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    color: #0a3641;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1,
h2 {
    font-family: "libre bodoni", "merriweather", 'Times New Roman', Times, serif;
}

h1 {
    color: #5f4c3e;
}

.logo {
    width: 20vh;
}

footer {
    background-color: #0a3641;
    min-height: 80px;
    display: flex;
    align-items: center;
    bottom: 0;
}

footer ul {
    margin: 0;
}

@media(min-width: 600px) {
.header-search {
    display: flex;
    align-items: center;
}

    header nav {
    display: contents;
    position: static;
}

header nav a {
    color: #0a3641;
    font-size: 2em;
    font-weight: bold;
}

header li {
    display: inline-block;
    border: none;
    padding: 0 20px;
}

main {
    min-height: 470px;
}

.mobil,
.hamburguer-icon {
    display: none;
}
/*Home Page*/
.welcome-phrase {
    background-color: rgb(10, 54, 65, 0.4);
}

}

/* Links */
a {
    text-decoration: none;
}

.cta {
    background-color: #5f4c3e;
    color: #fff;
    font-size: 1em;
    padding: 10px 25px;
    border-radius: 5px;
    display: block;
    margin: auto;
    text-align: center;
    width: 90px;
    font-weight: bold;
}

footer a {
    color: #fff;
    padding-left: 20px;
}

.active {
    text-decoration: underline;
}

/* Home page */

.promo {
    background-color: #5f4c3e;
    color: #fff;
    min-height: 40px;
    text-align: center;
}

.promo p {
    margin: 0;
    padding-top: 10px;
}

.main-home {
    max-height: 470px;
}

.welcome {
    background-image: url(../images/homepage_desk.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    min-height: 74vh;
    text-align: center;
}

.welcome h1 {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
    padding: 30px;
}

/*Women/Men*/
.main-jackets {
    display: flex;
}

.div-jackets {
    display: flex;
    margin-top: 100px;
}

.main-image {
    position: fixed;
}

.main-image img {
    max-width: 600px;
}

.jackets {
    max-width: 800px;
    margin: auto;
    padding-left: 50%;
}

.jackets h1 {
    text-align: center;
}

.image-jacket {
    max-width: 250px;
    flex-shrink: 0;
}

.jackets img {
   width: 90%;
   border: #0a3641 solid 2px;
}

.info-jacket {
    max-width: 325px;
}

/* Jacket page */
.red_jacket img {
    max-width: 600px;
    width: 100%;
}

.main-jacket {
    display: flex;
}

.jacket-info {
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 200px;
}

.size {
    text-align: center;
}

.size p {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    font-size: 1.5em;
    border: #0a3641 solid 1px;
    background-color: #0a3641;
    color: #ffff;
}

.buy-jacket {
    text-align: center;
    margin-top: 50px;
}

/* Check out */
input {
    border: 1.5px solid #0a3641;
    background-color: #a3a09e;
    border-radius: 5px;
}

.checkout-main {
    max-width: 1325px;
    margin: 40px auto;
    display: flex;
    align-items: center;
}

.checkout-main > * {
    flex: 1;
}

.shopping-details {
    display:flex;
    }

.checkout-main img {
    width: 200px;
}

/* About Us */
.about_us img {
    width: 40%;
}

.about_us {
    background-image: url(/images/about_us.jpg);
    background-size: cover;
    background-position-x:center;
    background-position-y: bottom;
    min-height: 55vh;
    position: relative;
}

.about-logo {
    position: absolute;
    top: 90px;
    left: 900px;
}

/* Contact */
.map img {
    max-width: 600px;
    border-radius: 50%;
}

.contact-main {
    display: flex;
    align-items: center;
}