@font-face {
    font-family: "libre bodoni";
    font-family: "merriweather";
    src: url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&family=Merriweather:ital@0;1&display=swap');
}

header, 
footer {
    width: 100%;
    position: sticky;
    align-items: center;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #0a3641;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
    top: 0;
    background-color: #ffff;
    justify-items: center;
}

.hamburguer-icon {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.5em;
}

.header-search {
    grid-column: 3;
}

header a {
    grid-column: 2;
}

header nav {
    position: absolute;
    background-color: #ffff;
    left: 0;
    top: 1px;
    bottom: -124.017px;
}

header nav a {
    color: #5f4c3e;
}

.fa-magnifying-glass {
    font-weight: 700;
    font-size: 1.7em;
    margin-right: 20px;
    margin-left: 10px;
}

.shopping-car {
    display: none;
}

header nav,
#menu-checkbox {
    display: none;
}

header li {
    border: #0a3641 1px solid;
    padding: 15px 30px;
}

nav ul {
    padding: 0;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    color: #0a3641;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 1em;
}

h1 {
    font-family: "libre bodoni", "merriweather", 'Times New Roman', Times, serif;
    color: #5f4c3e;
}

.logo {
    width: 20vh;
}

footer {
    background-color: #0a3641;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    bottom: 0;
}

footer ul {
    margin: 0;
}

.footer-about {
    padding-bottom: 8px;
}

.social-media {
    justify-self: end;
    font-size: 1.8em;
    padding-right: 20px;
}

.social-media h3 {
    display: none;
    ;
}

/* Links */
a {
    text-decoration: none;
}

footer a {
    color: #fff;
    padding-left: 20px;
    font-size: 0.8em;
    text-transform: uppercase;
}

.active {
    text-decoration: underline;
}
