@import "imports/variables.css";

@font-face {
    font-family: "libre bodoni";
    font-family: "merriweather";
    src: url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&family=Merriweather:ital@0;1&display=swap');
}

header, 
footer {
    width: 100%;
    position: sticky;
    align-items: center;
}

header {
    height: 115px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid var(--color-footer);
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
    top: 0;
    background-color: var(--background-color);
    justify-items: center;
    box-shadow: 0 1px 5px hsl(0 4% 15% / 10%);
}

.hamburguer-icon {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.5em;
}

label h3 {
    display:none;
}

a h3 {
    display:none;
}

.header-search {
    grid-column: 3;
}

header a {
    grid-column: 2;
}

header nav {
    position: absolute;
    background-color: var(--background-color);
    left: 0;
    top: 1px;
    bottom: -124.017px;
}

header nav a {
    color: var(--headings-color);
}

.fa-magnifying-glass {
    font-weight: 700;
    font-size: 1.3em;
    margin-right: 8px;
}

.fa-cart-shopping {
    cursor: pointer;
    margin-left: 20px;
}

.shop-container {
    margin-top: 2rem;
    padding: 0 0 3rem;
}

.section-title {
    font-size: 1.5 rem;
    font-weight: 600;
    text-align: center;
}

header nav,
#menu-checkbox {
    display: none;
}

header li {
    border: var(--color-footer) 1px solid;
    padding: 15px 30px;
}

nav ul {
    padding: 0;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

body {
    font-family: var(--text-paragraph), Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    color: var(--color-footer);
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 1em;
}

h1 {
    font-family: var(--text-heading), "merriweather", 'Times New Roman', Times, serif;
    color: var(--headings-color);
}

.logo {
    width: 20vh;
}

footer {
    background-color: var(--color-footer);
    min-height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    bottom: 0;
}

footer ul {
    margin: 0;
}

.footer-about {
    padding-bottom: 8px;
}

.social-media {
    justify-self: end;
    font-size: 1.8em;
    padding-right: 20px;
}

/* Links */
a {
    text-decoration: none;
}

footer a {
    color: var(--background-color);
    padding-left: 20px;
    font-size: 0.8em;
    text-transform: uppercase;
}

.active {
    text-decoration: underline;
    color: rgb(128, 3, 3);
}

.visible-hidden {
    display: none;
}
