/*Women/Men*/
.main-image img {
    width: 100%;
}

.jackets h1 {
    text-align: center;
    grid-column: -1/1;
}

.div-jackets p {
    grid-column: 2;
}

.jackets img {
   border: var(--color-footer), solid 2px;
}